.outer {
  width: 90%;
  max-width: 500px;
  background-color: var(--surface);
}

.main-heading-primary {
  display: block;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  letter-spacing: 7px;
  color: var(--secondary);
  animation: moveInLeft 2s ease-out;
  padding-top: 10px;
}

.main-heading-secondary {
  display: block;
  font-weight: normal;
  font-size: 60%;
  text-align: center;
  color: var(--on-background);
  animation: moveInRight 1s ease-out;
}

.home {
  margin-top: 10%;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

mat-card-header {
  justify-content: center;
}
